.sectionPage{
	background: #fff !important;
	height:100vh;
}
.logo{
	display:flex;
	align-items:center;
	height:400rpx;
	flex-direction: column;
	justify-content: center;
}
.btn{
    color:#fff;
    background: #cc9f68;
    text-align: center;
    height: 86rpx;
    line-height: 86rpx;
    border-radius:15rpx;
}
.inlineflex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pl10 {
	padding-left: 20rpx !important;
}

.pr10 {
	padding-right: 20rpx !important;
}

.pt10 {
	padding-top: 20rpx !important;
}
.pb10 {
	padding-bottom: 20rpx !important;
}
.aLine a {
	color: #505050;
}

.regLoginBox {
	padding: 0 30rpx;
}

.from .from-line {
	margin-bottom: 30rpx;
	position: relative;
	display:flex;
	align-items:center;
	border: 1px solid #d9d9d9;
	border-radius: 200rpx;
	overflow:hidden;
	.phone-input{
		width:500rpx;
	}
}

.from .ipt {
	height: 80rpx;
	/* width: 100%; */
	padding: 0 20rpx 0 20rpx;
	font-size: 30rpx;
}

.from .ipt:focus {
	border-color: #ff5c29;
}

.from .from-line .icon {
	height: 100%;
	width: 120rpx;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
}


.from .from-line .getcode {
	height: 84rpx;
	line-height: 84rpx;
	position: absolute;
	right: 0;
	top: 0;
	background: #cc9f68;
	color: #fff;
	padding: 0 20rpx;
	border-radius: 0 200rpx 200rpx 0;
	z-index: 5;
	font-size:28rpx;
}

.from .from-txt {
	font-size: .14rem;
	color: #656565;
}

.from .from-txt .link {
	color: #0bd5a9;
}
.phone-icon{
	width:40rpx;
	margin-left:20rpx;
}
.phoneCode-icon{
	width:40rpx;
	margin-left:20rpx;
}