/* 引入初始化样式*/
page{
  background-color: #f5f5f5;
}
.nav{
  /* opacity: 0.8; */
  background-color: #f5f5f5!important;
}
div{
  color: #333;
  font-size: 28rpx;
}
checkbox .wx-checkbox-input {
  width: 36rpx;
  height: 36rpx;
  border-radius: 50%;
}
.list-data{
  line-height: 100rpx;
  text-align: center;
  font-size: 26rpx;
  color: #999;
  background-color: #f5f5f5;
}
/*checkbox选中后样式  */
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  background: #0394F0;
}
/*checkbox选中后图标样式  */
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
  width: 20rpx;
  height: 20rpx;  
  line-height: 20rpx;
  text-align: center;
  font-size: 22rpx;
  color: #fff;
  background: transparent;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}
/* 盒子样式 */
.bp-box{/*带内边距 */
  background-color: #fff;
  padding: 0 30rpx
}
.bm-box{
  background-color: #fff;
  margin-top: 20rpx
}
.b-box{/*白色背景 */
  background-color: #fff
}
.bpr-box{/*带圆角 */
  background-color: #fff;
  padding: 0 30rpx;
  border-radius: 10rpx
}
.bpm-box{/*有上外边距 */
  background-color: #fff;
  padding: 0 30rpx;
  margin-top: 20rpx
}
/* 清除浮动 */
.clear {
  zoom: 1;
}
.clear:after {
  clear: both;
  content: "";
  height: 0;
  visibility: hidden;
  line-height: 0;
}
/* 文字溢出 */
/* 文字一行溢出 */
.oneline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
/* 文字两行溢出 */
.twoline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* 文字三行溢出 */
.thline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
/* 转换成flex容器 */
.flex {
  display: flex;
}
/* 竖直排列 */
.flexv {
  flex-direction: column;
}
/* 自动填充 */
.flex1 {
  flex: 1;
}
/* 自动换行 */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
/* 水平居中 */
.jus-c {
  display: flex;
  justify-content: center;
}
/* 水平两端对齐 */
.jus-b {
  display: flex;
  justify-content: space-between;
}
/* 水平相等间距 */
.jus-a {
  display: flex;
  justify-content: space-around;
}
/* 主轴终端对齐 */
.jus-e {
  display: flex;
  justify-content: flex-end;
}
/* 竖直居中 */
.ali-c {
  display: flex;
  align-items: center;
}
/* 水平垂直居中 */
.flexc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.greybody {
  background: #f4f4f4;
}
/* 图片宽高100% */
.fill {
  width: 100%;
  height: 100%;
  display: block;
}
/* 图片宽度100%，高度自动 */
.fill-auto {
  display: block;
  width: 100%;
  height: auto;
}
/* 底部占位符 */
.foot-seat {
  height: 1rem;
}
/* 文本靠右 */
.tr {
  text-align: right;
}
/* 文本居中 */
.tc {
  text-align: center;
}
/* vant的Toast提示宽度由内容撑开 */
.van-toast--text {
  min-width: auto;
}
/* animate.css中提取的tada动画 */
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
.mt2 {
  margin-top: 0.2rem;
}
.bg-grey {
  background-color: #f3f5f7;
}
/* 页面公共背景色 */
.pub-page-bg {
  background: #f0f0f0;
  min-height: 100vh;
}
/* 确认弹窗样式 */
.confirm-box {
  width: 75%;
  border-radius: .16rem;
}
.confirm-box .van-dialog__message {
  padding: .5rem .3rem;
  text-align: center;
  font-size: .36rem;
  color: #000;
}
.confirm-box .van-dialog__message p {
  margin: 0 auto 0.1rem;
  text-align: left;
  font-size: 0.28rem;
  color: #999999;
}
.confirm-box .van-dialog__message .info {
  width: 3.04rem;
}
.confirm-box .van-hairline--top::after {
  border: 0 solid #ddd;
  border-top-width: 1px;
}
.confirm-box .van-hairline--top .van-button::before {
  background-color: #f6f6f6;
}
.confirm-box .van-hairline--top .van-dialog__confirm,
.confirm-box .van-hairline--top .van-dialog__confirm:active {
  color: #ff5000;
}
.van-hairline--bottom::after {
  border-color: #e5e5e5 !important;
}
/* 背部固定 */
.noscroll {
  position: fixed;
}
.list-detail {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 99;
}
.pfixed {
  position: fixed;
  z-index: 999;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
}
.fade-leave-active {
  transition: opacity 1s;
}
.fade-leave-to {
  opacity: 0;
}
